.introduction_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fff1d9;
    padding: 0 50px; /* Remember: For put the same in a parent*/
}

.introduction_container .img_container {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 600px;
    min-width: 200px;
}

.introduction_container .img_container img {
    image-rendering: optimizeQuality;
    object-fit: fill;
    width: 100%;
    height: auto;
}

.main_container {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    text-align: left;
    padding: 2rem;
    width: 100%;
    max-width: 500px;
    min-width: 300px;
}

.main_container h1 {
    margin: 0;
}

.main_container p {
    color: rgb(75, 75, 75);
}

.btn_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: .6rem;
    max-width: 350px;
    min-width: 200px;
}

.btn_container button {
    width: 80%;
    border-radius: 15px;
    font-weight: 800;
    text-align: left;
}

.btn_container .btn-action {
    background-color: #ff5808;
    color: white;
}

.btn_container .btn-info {
    background-color: rgb(255, 255, 255);
    color: black;
}

.bg-blue {
    background-color: #4245e6;
    width: 100%;
}

.bg-vainilla_light {
    background-color: #fffaf0;
}

.about_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em 0;
}


.about_container h2 {
   color: aliceblue;
}


.about_container p {
    color: rgb(240, 248, 255);
    font-weight: 300;
}

.about_container .img_container {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 300px;
    min-width: 100px;
    text-align: center; /* center imagen */
}

.about_container .img_container img {
    image-rendering: optimizeQuality;
    object-fit: fill;
    width: 80%;
    height: auto;
}

/* TESTIMONIALS SECTION */
.testimonials_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 6em 0;
    gap: 2em;
}

.testimonials_containe div {
   max-width: 100px;
}

.testimonials_container h4 {
    color: inherit;
    font-size: .9em;
    color: rgb(100, 100, 100);
}

.testimonials_container span {
    color: black;
    font-weight: 700;
    font-size: 1.4em;
}