* {
  
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#home {
    padding-bottom: 40px;
    /* Height of NavBAR Menu */
}

/* BG Colors */

.bg-vainilla {
    background-color: #fff1d9;
}

.bg-blue {
    background-color: #4245e6;
    width: 100%;
}

.bg-vainilla_light {
    background-color: #fffaf0;
}

.bg-dark {
    background-color: #361d31;
}

/* Text Size */

.floating_container {
    position: fixed;
    right: 5px;
    top: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99999;
   /*  overflow: hidden; */
}

.floating_container a  {
    font-weight: 800;
    font-size: .7em;
    padding: 15px 0;
}

.floating_container a:nth-child(2) {
    transform: rotate(10deg);
    color: #ff5808;
 }

.floating_container a:nth-child(1)  {
    transform: rotate(10deg);
    color: #4245e6;
}

.floating_container a:focus,
a:active {
    color: #0331ff;
    scale: 1.4;
    transition: all 1s;
}